*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url(bar.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.menu-bar{
    background-color: rgb(7, 7, 46);
    text-align: center;
}
.menu-bar ul{
    list-style: none;
    display: inline-flex;
}

.menu-bar ul li{
    padding: 10px;
    margin-left: 60px;

}
.menu-bar ul li:hover{
    background-color: lightblue;
    border-radius: 3px;
    
}
 .menu-bar .active{
    background-color: lightblue;
    border-radius: 3px;
 }
.menu-bar ul li a{
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.menu-bar ul li i{
    color: #fff;
}

.menu-bar .sub-menu1{
    display: none;
}
 
 .menu-bar ul li:hover .sub-menu1  {
    display: block;
    position: absolute;
    background-color: rgb(7, 7, 46);
    margin-top: 10px;
    margin-left: -10px;

}

.menu-bar ul li:hover .sub-menu1 ul{
    display: block;
    margin:  10px;
 
}

.menu-bar ul li:hover .sub-menu1 ul li{
    width: 260px;
    padding: 10px;
    text-align: left;
    margin-left: 5px;
    border-bottom: 1px solid white;
    border-radius: 0;
    background: transparent;
}

.menu-bar ul li:hover .sub-menu1 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu1 ul li a:hover{
    color:lightblue;
}
.sub-menu2{
    display: none;
}

.hoverme:hover .sub-menu2  {
    display: block;
    position: absolute;
    background-color: rgb(7, 7, 46);
    margin-top: -40px;
    margin-left: 250px;
}